@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
